In [137]:
import numpy as np
import pandas as pd

df = pd.read_csv('train.tsv', sep='\t')
dftest = pd.read_csv('test.tsv', sep='\t')
# df = df.drop('fnlwgt', axis=1)
# dftest = dftest.drop('fnlwgt', axis=1)
# df['education'].reshape(-1,1)
# enc = OneHotEncoder(categories="auto", sparse=True, dtype=np.float32)
# onehot_X_sparse = enc.fit_transform(df)
df['traintest'] = 1
dftest['traintest'] = 0
df.head()

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Y,traintest
0,5,90,Private,313986,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K,1
1,10,46,Private,74895,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1485,55,United-States,<=50K,1
2,11,37,Private,67433,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,>50K,1
3,13,45,Local-gov,144940,Masters,14,Divorced,Prof-specialty,Unmarried,Black,Female,0,0,40,United-States,<=50K,1
4,14,40,Private,272960,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,42,United-States,>50K,1

In [138]:
print(df['age'].min(),df['age'].max())
print(df['hours-per-week'].min(),df['hours-per-week'].max())
print(df['fnlwgt'].min(),df['fnlwgt'].max())
print(df['capital-gain'].min(),df['capital-gain'].max())
print(df['capital-loss'].min(),df['capital-loss'].max())

(17, 90)
(1, 99)
(12285, 1226583)
(0, 99999)
(0, 4356)

In [139]:
train_num = len(df)
dfall = pd.concat(objs=[df, dftest], axis=0)
print(len(df))
print(len(dftest))

16280
16281

In [140]:
# print(pd.get_dummies(df, columns=["native-country","sex"]))
# df = pd.get_dummies(df['sex'], drop_first=True, dummy_na=True)
# dftest = pd.get_dummies(dftest, drop_first=True, dummy_na=True)
# print(pd.get_dummies(df,drop_first=True, dummy_na=True))

In [141]:
def str2cat(df,colname):
    labels = df[colname].unique().tolist()
    mapping = dict(zip(labels,range(len(labels))) )
    df.replace({colname: mapping},inplace=True)
    return df

def str2onehot(df,colname):
    df[colname] = pd.Categorical(df[colname])
    dfDummies = pd.get_dummies(df[colname], prefix = colname)
    df = pd.concat([df, dfDummies], axis=1)
    df = df.drop([col], axis=1)
    return df

# str2catcols = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country']
str2catcols = ['workclass','education','marital-status','occupation','relationship','race','sex','native-country']
for col in str2catcols:
    dfall = str2onehot(dfall,col)
    
dfall = str2cat(dfall,'Y')
print(len(dfall))
dfall.head()
# dfall.all()

32561

,Y,age,capital-gain,capital-loss,education-num,fnlwgt,hours-per-week,id,traintest,workclass_?,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0,90,0,0,7,313986,40,5,1,0,...,0,0,0,0,0,0,0,1,0,0
1,0,46,0,1485,12,74895,55,10,1,0,...,0,0,0,0,0,0,0,1,0,0
2,1,37,0,0,9,67433,40,11,1,0,...,0,0,0,0,0,0,0,1,0,0
3,0,45,0,0,14,144940,40,13,1,0,...,0,0,0,0,0,0,0,1,0,0
4,1,40,0,0,12,272960,42,14,1,0,...,0,0,0,0,0,0,0,1,0,0

In [142]:
print(dfall.columns)
dfall = dfall.drop(['traintest'],axis=1)
df = dfall[:train_num]
dftest = dfall[train_num:]
print(len(df),len(dftest))

Index([u'Y', u'age', u'capital-gain', u'capital-loss', u'education-num',
       u'fnlwgt', u'hours-per-week', u'id', u'traintest', u'workclass_?',
       ...
       u'native-country_Portugal', u'native-country_Puerto-Rico',
       u'native-country_Scotland', u'native-country_South',
       u'native-country_Taiwan', u'native-country_Thailand',
       u'native-country_Trinadad&Tobago', u'native-country_United-States',
       u'native-country_Vietnam', u'native-country_Yugoslavia'],
      dtype='object', length=111)
(16280, 16281)

In [143]:
np.random.seed(0)
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75
dftrain, dfvalid = df[df['is_train']==True], df[df['is_train']==False]

dftrainy = dftrain['Y']
dftrainx = dftrain.drop(['id','Y','is_train'], axis=1)
dfvalidy = dfvalid['Y']
dfvalidx = dfvalid.drop(['id','Y','is_train'], axis=1)
print('Number of training data:', len(dftrainx))
print('Number of validation data:',len(dfvalidx))

('Number of training data:', 12261)
('Number of validation data:', 4019)

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [146]:
# アンサンブル(RandomForest)
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_jobs=2, random_state=0)
clf.fit(dftrainx, dftrainy)
preds = clf.predict(dfvalidx)

In [145]:
# # 交差検証
# from sklearn.linear_model import LogisticRegression
# clf = LogisticRegression()
# clf.fit(dftrainx, dftrainy)
# preds = clf.predict(dfvalidx)

In [98]:
pd.crosstab(dfvalidy, preds, rownames=['Actual Y'], colnames=['Predicted Y'])

Predicted Y     0    1
Actual Y
0            2826  229
1             384  580

In [99]:
from sklearn.metrics import accuracy_score
accuracy_score(dfvalidy, preds)
# random seed: 0; valid: 0.84747; test: 0.84786

0.84747449614331927

In [100]:
dftestx = dftest.drop(['id','Y'], axis=1)
testpreds = clf.predict(dftestx)
col_names =  ['id','preds']
dftesty  = pd.DataFrame(columns = col_names)
dftesty['id'] = dftest['id']
dftesty['preds'] = testpreds
mapping = {0: '<=50K', 1: '>50K'}
dftesty.replace({'preds': mapping}, inplace=True)
dftesty.to_csv('testpreds.csv', index=False, header=False)